<plist version="1.0">
    <dict>
        <key>API_KEY</key>
        <string>AIzaSyADfqpgLmXQjk2Kd8mLrwjJpHgssJl8-_w</string>
        <key>GCM_SENDER_ID</key>
        <string>1053998892000</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.dam2.dam2-proy-cleanmaster</string>
        <key>PROJECT_ID</key>
        <string>dam2-db-cleanmaster</string>
        <key>STORAGE_BUCKET</key>
        <string>dam2-db-cleanmaster.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <true/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:1053998892000:ios:90b983676affc1851d2185</string>
    </dict>
</plist>